nav {
    display: flex;
    height: 15%; width: 100%;
}

.menu ul {
    display: flex;
    align-items: start;
    margin-right: 10%;
    height: 60px; width: 100%;
    margin: 0; padding: 20px;
    background-color: rgb(16, 0, 245);
    list-style-type: none;
    border-style: none;
}

li {
    display: flex;
    align-items: center;
    height: auto; width: 100%;
    margin: 0; padding: 10px 20px;
}

a {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0); text-decoration: none;
    background-color: rgb(182, 180, 180);
    margin: 0; padding: 10px 15px;
    transition: 0.3s ease-in-out;
    border-style:double;
    border-color: rgb(22, 35, 218);
    border-radius:1.5em;
}

a:hover{
    background-color: rgba(135, 207, 235, 0.795);
}

.actividades{
    display: flex;
    background-color: rgba(153, 152, 151, 0.842);
    margin-top: 0;
}

ol.actividades ul{
    list-style-type: circle;
    
}

.actividades ul{
    display: inline-block;
    margin-top: 12%;
    position:absolute;
    text-decoration:underline;
}

body {
    background-color: rgba(152, 151, 153, 0.842);
}